body {
  font-family: roboto flex;
}

h1 {
  color: blue;
}

.appBody {
  display: block;
  max-width: 600px;
  margin: 45px auto;
  border: 2px solid #3965c6;
  padding: 60px 30px 30px 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
}
