body {
  font-family: roboto flex;
  min-height: 100vh;
  background: linear-gradient(
    0.3deg,
    rgb(30, 161, 239) 0.9%,
    rgb(49, 46, 252) 88.6%
  );
}

header {
  border-bottom: 1px solid#247ef2;
  padding: 30px;
}

h1 {
  color: blue;
}

footer {
  padding: 30px 0 0 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.appBody {
  display: block;
  background: white;
  max-width: 600px;
  margin: 45px auto 60px;
  border: 2px solid #3965c6;
  padding: 60px 30px 30px 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
}

.city-input,
.weather-button {
  font-family: playwrite nz basic;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

.city-input {
  width: 50%;
  border: 1px solid #247ef2;
  font-weight: 500;
}
.weather-button {
  color: white;
  background: #2a57f7;
  width: 15%;
  margin-left: 5px;
  border: 1px solid #2a57f7;
}
