body {
  font-family: roboto flex;
  min-height: 100vh;
  background: linear-gradient(
    0.3deg,
    rgb(30, 161, 239) 0.9%,
    rgb(49, 46, 252) 88.6%
  );
}

header {
  border-bottom: 1px solid#247ef2;
  padding: 30px;
}

p {
  margin: 0;
}

footer {
  padding: 30px 0 0 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.appBody {
  display: block;
  background: white;
  max-width: 600px;
  margin: 60px auto;
  border: 2px solid #3965c6;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
}

.city-input,
.weather-button {
  font-family: playwrite nz basic;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

.city-input {
  width: 50%;
  border: 1px solid #247ef2;
  font-weight: 500;
}
.weather-button {
  color: white;
  background: #2a57f7;
  width: 15%;
  margin-left: 5px;
  border: 1px solid #2a57f7;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-city {
  font-size: 38px;
  font-weight: 650;
  color: #2a57f7;
  margin-bottom: 5px;
}
.current-conditions {
  color: rgba(42, 42, 43, 0.6);
  font-weight: 500;
}
.current-conditions strong {
  color: #f65282;
}

.current-temp {
  display: flex;
}

.temp-emoji {
  font-size: 35px;
  margin-top: 48px;
  margin-right: 5px;
}
.temp-value {
  font-size: 75px;
  font-weight: 650;
  color: #f65282;
  margin-top: 25px;
}
.temp-unit {
  font-size: 25px;
  color: #f65282;
  font-weight: 600;
  margin-top: 37px;
  margin-left: 2px;
}
